.login-section{
    display: flex;
    height: 100vh;
    border-radius: 12px;
    padding-bottom: 30px
    
}

.login {
    font-size: 2rem;
    color: #015ABA;
    font-weight: 700;
}

.login-container {
    margin: 5rem;
    border-radius: 12px;
    width: 50%;
    height: auto; 
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 10vh;
}

.project-name {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #015ABA;
    font-size: 32px;
    font-weight: 700;
}

.underline {
     width: 60px;
     height: 4px;
     background: #015ABA;
     border-radius: 5px;
}

.login-inputs {
   margin-top: 55px;
   display: flex;
   flex-direction: column;
   gap: 25px
}

.password-input, .email-input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%; 
    height: 60px;
    background: #eaeaea;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.password-input input, .email-input input{
    height: 50px;
    width: 100%; 
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 1rem;
}           

.login-inputs img {
    width: 28px;
    height: 28px;
    margin: 0px 15px;
}

.login-sign  {
    display: flex;
    gap: 30px;
    margin: 60px auto
}

.submit-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 36px;
    color: #fff;
    background: #015ABA;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

input {
    -webkit-background-clip: text !important;
}

.sign-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 36px;
    border: none;
    color: #fff;
    background: #015ABA;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.info-section {
    display: flex;
    flex-direction: column;
    margin-top: 25vh; 
}

.info-container {
    padding-left: 40px;
    width: 70%;
}

@media (max-width: 1200px) {
    .login-container {
        width: 90vw; 
    }

    .password-input, .email-input {
        width: 90%; 
    }

    .password-input input, .email-input input {
        width: 100%; 
    }
}

@media (max-width: 768px) {
    .login-section {
        flex-direction: column-reverse;
    }

    .login-container {
        width: 95vw;
        margin-top: none;
        margin: 2rem auto; 
        margin-bottom: 10rem;
    }

    .login-inputs img {
        margin: 1rem;
    }

    .sign-button, .submit-login {
        width: 22vw;
        font-size: 2.5vw;
    }
    

    .password-input, .email-input {
        width: 95%; 
    }

    .password-input input, .email-input input {
        width: 100%; 
    }

    .info-section {
        display: none   
    }
}

@media (max-width: 480px) {
    .login-container {
        width: 100vw; 
    }

    .password-input, .email-input {
        width: 100%; 
    }

    .password-input input, .email-input input {
        width: 100%; 
    }
}
